{% extends 'ish/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <h1>📚Ro'yxatga olinmagan xatlar ro'yxati</h1>



    <table
        class="table table-striped table-hover table-bordered align-middle"
    >
        <thead class="table-secondary">
            <tr>
                <th>okpo</th>
                <th>inn</th>
                <th>soato</th>
                <th>nomi</th>
                <th>hisobot nomi</th>
                <th>hisobot_davri</th>
                <th>xat turi</th>
                <th>pdf_file</th>
                <th>sababi</th>
                <th>aniqlangan</th>
                <th>xat</th>
                <th>akt</th>
            </tr>
        </thead>
        <tbody>
                        
            {% for ru in ruyxat %}
            <tr>
                <td scope="row">{{ru.okpo}}</td>
                <td>{{ru.inn}}</td>
                <td>{{ru.soato}}</td>
                <td>{{ru.nomi}}</td>
                <td>{{ru.hisobot_nomi}}</td>
                <td>{{ru.hisobot_davri}}</td>
                <td>{{ru.xat_turi}}</td>
                {% if ru.pdf_fayli %}
                <td><a href="{{ru.pdf_fayli.url}}">fayl</a></td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{{ru.sababi}}</td>
                <td>{{ru.aniqlangan_sanasi}}</td>
                <td><a href="{% url 'item_detail' ru.pk %}" class="text-decoration-none">📎</a></td>
               <td><a href="{% url 'dalolatnoma_from_excel' ru.pk %}" class="text-decoration-none">📝</a></td>

            </tr>
            {% endfor %}
           
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>


{% endblock %}
