{% extends 'ish/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <h1>Ro'yxatga olinmagan xatlar ro'yxati</h1>

    {% for item in record_forms %}
    <div class="card mb-3 p-3 w-100">
        <form method="post" class="row g-3">
            {% csrf_token %}
            <input type="hidden" name="record_id" value="{{ item.record.id }}">
    
            <div class="col-md-2">
                {{ item.form.okpo.label_tag }}
                {{ item.form.okpo|add_class:"form-control"|attr:"readonly:true" }}
            </div>
            <div class="col-md-2">
                {{ item.form.inn.label_tag }}
                {{ item.form.inn|add_class:"form-control"|attr:"readonly:true" }}
            </div>
            <div class="col-md-2">
                {{ item.form.soato.label_tag }}
                {{ item.form.soato|add_class:"form-control"|attr:"readonly:true" }}
            </div>
            <div class="col-md-3">
                {{ item.form.nomi.label_tag }}
                {{ item.form.nomi|add_class:"form-control"|attr:"readonly:true" }}
            </div>
            <div class="col-md-3">
                {{ item.form.hisobot_nomi.label_tag }}
                {{ item.form.hisobot_nomi|add_class:"form-control"|attr:"readonly:true" }}
            </div>
            <div class="col-md-3">
                {{ item.form.hisobot_davri.label_tag }}
                {{ item.form.hisobot_davri|add_class:"form-control"|attr:"readonly:true" }}
            </div>
            <div class="col-md-2">
                {{ item.form.xat_turi.label_tag }}
                {{ item.form.xat_turi|add_class:"form-control" }} {# Faqat shu ochiq #}
            </div>
            <div class="col-md-2">
                {{ item.form.xat_sanasi.label_tag }}
                {{ item.form.xat_sanasi|add_class:"form-control" }}
            </div>
    
            <div class="col-12 mt-2">
                <button type="submit" class="btn btn-primary">Yangilash</button>
            </div>
        </form>
    </div>
    
    {% empty %}
    <p>Hech qanday ma'lumot yo'q.</p>
    {% endfor %}

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
