<div class="sidebar border-end list-group">
    <h5 class="px-3">Menyu</h5>
    {% if "/jarima" in request.path %}
      <a class="list-group-item {% if request.resolver_match.url_name == 'upload_excel' %}active{% endif %}" href="{% url 'upload_excel' %}">📚 Bazaga kiritish</a>
      <a class="list-group-item {% if request.resolver_match.url_name == 'excelupload_list' %}active{% endif %}" href="{% url 'excelupload_list' %}">📎 Kiritilmagan xatlar
        {% if unread %}<span class="badge bg-danger">4</span>{% else %}{% endif %}  
      </a>
      <a class="list-group-item {% if request.resolver_match.url_name == 'jarima_qilinmagan' %}active{% endif %}" href="{% url 'jarima_qilinmagan' %}">🗂 jarima_qilinmaganlar</a>
      <a class="list-group-item {% if request.resolver_match.url_name == 'dalolatnoma_list' %}active{% endif %}" href="{% url 'dalolatnoma_list' %}">📄 Dalolatnomalar</a>
      <a class="list-group-item" href="{% url 'excel_download' %}">🗃️ Ma'lumotlar bazasi</a>
    {% else %}
      <a  class="list-group-item" href="#">📒 Hisobotlar</a>
      <a href="#">⚙️ Sozlamalar</a>
    {% endif %}
</div>