<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Tadbirkorlik statistikasi</a>
     
  
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url "index" %}">Bosh sahifa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if "/jarima" in request.path %}active{% endif %}" href="{% url "excelupload_list" %}">Jarima</a>
          </li>
          <li class="nav-item">
          <a class="nav-link {% if "/tools/parse_pdf" in request.path %}active{% endif %}" href="{% url "parse_pdf" %}">Tools</a>
          </li>
          <li class="nav-item">
             {% if user.is_authenticated %}
                    <a class="nav-link">{{ user.username }}</a>
            </li> 
            <li><a class="nav-link" href="{% url 'logout' %}">Chiqish</a>
            </li>
              {% else %}
                  <a class="nav-link" href="{% url 'login' %}">Kirish   |</a></li> <li><a class="nav-link" href="{% url 'signup' %}">Ro‘yxatdan o‘tish</a>
              {% endif %}
          </li>

        </ul>
      </div>
    </div>
  </nav>
